<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:task="http://www.springframework.org/schema/task" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context  
	http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd 
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	http://www.springframework.org/schema/task 
	http://www.springframework.org/schema/task/spring-task-3.0.xsd">
	
	
	<bean id="datasource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<!-- 	
		<property name="properties">
            <bean class="com.util.DatasourcePropertiesFactory" factory-method="getProperties">
                <constructor-arg type="java.lang.String">
                    <value>${password}</value>
                </constructor-arg>   
             </bean>
        </property> 
        -->
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
	    <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/ee19_spring_day03" />
        <property name="user" value="root" /> 
        <property name="password" value="123456" />
	</bean>
	
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="hibernateProperties">
			<props>
			  <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<!-- <prop key="hibernate.hbm2ddl.auto">update</prop> -->
				<!-- <prop key="hibernate.current_session_context_class">thread</prop> -->
			</props>
		</property>
		<property name="mappingLocations" value="classpath:com/huangpan/entity/*.hbm.xml"></property>
	</bean>
	
	
	
	<bean id="userService"  class="com.huangpan.serviceImpl.UserServiceImpl">
		<property name="userDao" ref="userDao"></property>
	</bean>
	
	<bean id="userDao" class="com.huangpan.daoImpl.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	
	
	
	 
	
	
	
    
</beans>
